ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_COOKIE_SECURE=False
DATABASE_URL=postgres://btsh:btsh@postgres:5432/btsh
DEBUG=True
EMAIL_URL=consolemail://
SECRET_KEY=1*8*vepp&&2r8wfvw2xyf9+w-1f^#@s(kl9h=5z$rurgc!7=$
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
